<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit a landmark here!</title>
  </head>
  <body>
    <%= @landmark.name %>
    <%= @landmark.year_completed %>
    <form method="POST" action="/landmarks/<%= @landmark.id %>">
      <input type="hidden" name="_method" value="patch">
      <p>Landmark Name: <input type="text" name="landmark[name]" id="name"></p>
      <p>Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed"</p>
      <input type="submit" name="submit" value="Edit Landmark">
    </form>
  </body>
</html>
