<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Landmarks</title>
  </head>
  <body>
    <% @landmarks.each do |landmark| %>
    <p>Name: <%= landmark.name %></p>
    <p>Year Completed: <%= landmark.year_completed %></p>
    <% end %>
  </body>
</html>
