<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit your figure here!</title>
  </head>
  <body>

    <h1>Edit a new figure</h1>
    <%= @figure.name %>

    <form method="POST" action="/figures/<%= @figure.id %>">
      <input type="hidden" name="_method" value="patch">

      <p>Figure Name: <input type="text" name="figure[name]" id="figure_name"></p>
      <p>Figure Titles: <input type="text" name="figure[title_ids]"></p>
      <p>Figure Landmarks: <input type="text" name="figure[landmark]" id="new_landmark"></p>
      <input type="submit" value="Edit Figure">

    </form>

  </body>
</html>
